.rating {
  display: flex;
  justify-content: center;
}

.rating__bar {
  display: flex;
  color: rgb(202, 176, 110);

  &--active,
  &--hover {
    color: goldenrod;
  }
}

.rating__star {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 58px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:not(:last-child) {
    margin-right: 10px;
  }

  @media (max-width: 639px) {
    font-size: 40px;
  }
}

.rating__bar:not(.rating__bar--hover) .rating__control:checked ~ .rating__star,
.rating__bar:not(.rating__bar--hover) .rating__control:focus ~ .rating__star,
.rating__star:hover ~ .rating__star {
  color: rgb(202, 176, 110);
}

.rating__bar:not(.rating__bar--hover) .rating__control:checked + .rating__star,
.rating__bar:not(.rating__bar--hover) .rating__control:focus + .rating__star,
.rating__star:hover + .rating__star {
  color: goldenrod;
}

.rating__amount {
  font-size: 20px;
  color: black;
}
