.rating {
  display: flex;
  justify-content: center;
}

.rating__bar {
  position: relative;
  display: flex;
  color: rgb(202, 176, 110);

  &:hover,
  &.is-filled {
    color: goldenrod;
  }

  &:not(:hover) .rating__control:checked ~ .rating__star,
  &:not(:hover) .rating__control:focus ~ .rating__star {
    color: rgb(202, 176, 110);
  }

  &:not(:hover) .rating__control:checked + .rating__star,
  &:not(:hover) .rating__control:focus + .rating__star {
    color: goldenrod;
  }
}

.rating__star {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  font-size: 58px;
  line-height: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  *:not(.rating__control) {
    pointer-events: none;
  }

  &:hover {
    ~ .rating__star {
      color: rgb(202, 176, 110);
    }

    + .rating__star {
      color: goldenrod;
    }
  }

  @media (max-width: 639px) {
    font-size: 40px;
  }
}

.rating__amount {
  font-size: 20px;
  color: black;
}
